<div class="d-flex flex-column align-items-center gap-3 min-vh-100">
    <div
        class="border-bottom border-5 d-flex flex-column flex-lg-row align-items-lg-center gap-lg-4 gap-2 min-vw-100 px-4 py-2"
    >
        <a
            href="https://climate-impetus.eu/"
            target="_blank"
            class="ms-0 ms-lg-5 pt-2 pt-lg-0"
        >
            <img
                class="d-flex"
                src="/assets/images/impetus.png"
                alt="Impetus Logo"
                height="45px;"
            />
        </a>

        <div class="lead fw-semibold fs-4 mt-2 mt-lg-0">
            This page serves as a portal for the developments of
            <a href="https://www.ntua.gr" target="_blank">NTUA</a>'s
            <a href="https://uwmh.civil.ntua.gr" target="_blank"
                >Urban Water Management and HydroInformatics group</a
            >
            which were achieved under the IMPETUS project.
        </div>
    </div>

    <div class="d-flex flex-grow-1"></div>

    <div class="row mx-0 mx-xl-2 justify-content-around">
        <div class="col-12 col-lg-4" role="button">
            <a href="https://dt.uwmh.eu/" target="_blank">
                <div
                    class="card text-white overflow-hidden flex-grow-1 mb-0 h-100"
                    style="background-color: rgb(42, 159, 55)"
                >
                    <div class="card-body">
                        <div class="text-center">
                            <h2 class="text-reset">Digital Twins</h2>

                            <img
                                class="my-3"
                                src="/assets/images/dt.png"
                                width="90%"
                                alt="HIPS"
                            />
                            <h4 class="mt-2 mb-3">
                                Digital Twins of Greece's Attica Region physical
                                entities
                            </h4>
                            <p class="lead">
                                A Regional Digital Twin (DT) is being
                                implemented in Greece's Attica region as part of
                                the IMPETUS project. It leverages real-time data
                                on climate adaptation initiatives and solutions
                                to serve as a central hub for knowledge and
                                action. The platform facilitates a co-creation
                                process involving stakeholders and policymakers
                                to drive green business development and climate
                                resilience.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0" role="button">
            <a href="https://impetus.uwmh.eu/" target="_blank">
                <div
                    class="card text-white overflow-hidden flex-grow-1 mb-0 h-100"
                    style="height: 100%"
                    style="background-color: rgb(40, 160, 230)"
                >
                    <div class="card-body" style="height: 100%">
                        <div class="text-center" style="height: 100%">
                            <h2 class="text-reset">HIPS</h2>

                            <img
                                class="my-3"
                                src="/assets/images/hips.png"
                                width="90%"
                                alt="HIPS"
                            />
                            <h4 class="mt-2 mb-3">
                                Hot-spots Identification and Prioritization
                                Service
                            </h4>
                            <p class="lead">
                                HIPS, developed under the EU-funded IMPETUS
                                project, enables stakeholders to conduct
                                customized hotspot analyses by combining future
                                climate projections with various indicators. It
                                supports decision-making and regional adaptation
                                strategies using a comprehensive framework of
                                metrics. As the project progresses, HIPS will be
                                enhanced with additional datasets and features.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0" role="button">
            <a href="https://rcrft-frontend.ddns.net/" target="_blank">
                <div
                    class="card text-white overflow-hidden flex-grow-1 mb-0 h-100"
                    style="background-color: rgb(5, 100, 179)"
                >
                    <div class="card-body">
                        <div class="text-center">
                            <h2 class="text-reset">RCRFT</h2>

                            <img
                                class="my-3"
                                src="/assets/images/rcrft.png"
                                width="90%"
                                alt="HIPS"
                            />
                            <h4 class="mt-2 mb-3">
                                Regional Climate Resilience Footprint Tool
                            </h4>
                            <p class="lead">
                                Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptates molestias illo
                                doloremque neque labore, expedita accusamus
                                ipsa! Consequuntur eligendi dolores, libero
                                eveniet saepe quaerat numquam ea architecto
                                fuga, rem ratione. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Quos impedit quis
                                debitis rerum provident nemo eum at
                                reprehenderit doloremque in.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex flex-grow-1"></div>

    <div
        class="d-flex justify-content-between align-items-center gap-4 min-vw-100 p-4 custom-footer"
    >
        <a href="https://climate-impetus.eu/" target="_blank">
            <img
                class="d-none d-xl-flex px-3"
                src="/assets/images/impetus-white.png"
                alt="Impetus Logo"
                height="60px;"
            />
        </a>

        <a href="https://ntua.gr/el/" target="_blank">
            <img
                class="d-none d-xl-flex px-3"
                src="/assets/images/pyrforos.png"
                alt="NTUA Logo"
                height="50px;"
        /></a>

        <a href="https://uwmh.civil.ntua.gr" target="_blank">
            <img
                class="d-none d-xl-flex px-3"
                src="/assets/images/uwmh_logo.png"
                alt="UWMH Logo"
                height="60px;"
            />
        </a>

        <div
            class="fs-5 fw-semibold text-white px-0 px-xl-5 d-flex align-items-center"
        >
            <a href="https://european-union.europa.eu/index_en" target="_blank">
                <img
                    class="px-3"
                    src="/assets/images/europe.png"
                    alt="Europe Flag"
                    height="45px;"
                />
            </a>

            <span>
                The IMPETUS project has received funding from the European
                Union’s Horizon 2020 research and innovation programme under
                grant agreement No 101037084 Funded in the EU Horizon 2020 Green
                Deal call</span
            >
        </div>
    </div>
</div>
