<div class="d-flex flex-column align-items-center gap-4 min-vh-100">
  <div
    class="border-bottom border-5 d-flex flex-column flex-lg-row align-items-lg-center gap-lg-4 gap-2 bg-light min-vw-100 p-4"
  >
    <h1>Welcome to IMPETUS&#64;uwmh</h1>

    <div class="lead fw-semibold">
      This page serves as a portal for the developments of
      <a href="https://www.ntua.gr">NTUA</a>'s
      <a href="https://uwmh.civil.ntua.gr"
        >Urban Water Management and HydroInformatics group</a
      >
      which were achieved under the IMPETUS project.
    </div>
  </div>

  <div class="d-flex flex-grow-1"></div>

  <div class="container">
    <div class="d-flex flex-column flex-lg-row gap-3 justify-content-between">
      <div class="d-flex flex-column" role="button">
        <div class="card text-white bg-info overflow-hidden flex-grow-1 mb-0">
          <div class="card-body">
            <div class="toll-free-box text-center">
              <h2 class="text-reset"><i class="mdi mdi-graphql"></i> RCRFT</h2>
              <h4>Regional Climate Resilience Footprint Tool</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column" role="button">
        <div class="card text-white bg-danger overflow-hidden flex-grow-1 mb-0">
          <div class="card-body">
            <div class="toll-free-box text-center">
              <h2 class="text-reset"><i class="ri-temp-hot-fill"></i> HIPS</h2>
              <h4>Hot-spots Identification and Prioritization Service</h4>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column" role="button">
        <div
          class="card text-white bg-success overflow-hidden flex-grow-1 mb-0"
        >
          <div class="card-body">
            <div class="toll-free-box text-center">
              <h2 class="text-reset">
                <i class="mdi mdi-motion-sensor"></i> Digital Twins
              </h2>
              <h4>Digital Twins of Greece's Attica Region physical entities</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-grow-1"></div>

  <div
    class="border-top border-5 bg-light d-flex justify-content-between align-items-center gap-4 min-vw-100 p-4"
  >
    <img
      class="d-none d-lg-flex"
      src="/assets/images/impetus.png"
      alt="Impetus Logo"
      height="50px;"
    />
    <img
      class="d-none d-sm-flex"
      src="/assets/images/pyrforos.png"
      alt="NTUA Logo"
      height="50px;"
    />
    <img
      class="d-none d-lg-flex"
      src="/assets/images/uwmh_logo.png"
      alt="UWMH Logo"
      height="50px;"
    />
    <img
      class="d-none d-sm-flex"
      src="/assets/images/europe.png"
      alt="Europe Flag"
      height="50px;"
    />
    <div class="small fw-semibold">
      The IMPETUS project is funded by the European Union's Horizon 2020
      research and innovation programme under grant agreement No 101037084.
    </div>
  </div>
</div>
