<div class="d-flex flex-column align-items-center gap-4 min-vh-100">
    <div
        class="border-bottom border-5 d-flex flex-column flex-lg-row align-items-lg-center gap-lg-4 gap-2 bg-light min-vw-100 p-4"
    >
        <h1>Welcome to IMPETUS&#64;uwmh</h1>

        <div class="lead fw-semibold">
            This page serves as a portal for the developments of
            <a href="https://www.ntua.gr" target="_blank">NTUA</a>'s
            <a href="https://uwmh.civil.ntua.gr" target="_blank"
                >Urban Water Management and HydroInformatics group</a
            >
            which were achieved under the IMPETUS project.
        </div>
    </div>

    <div class="d-flex flex-grow-1"></div>

    <div class="row mx-0 mx-xl-5">
        <div class="col-12 col-lg-4" role="button">
            <a href="https://impetus.uwmh.eu/" target="_blank">
                <div
                    class="card text-white bg-danger overflow-hidden flex-grow-1 mb-0 h-100"
                    style="height: 100%"
                >
                    <div class="card-body" style="height: 100%">
                        <div
                            class="toll-free-box text-center"
                            style="height: 100%"
                        >
                            <h2 class="text-reset">
                                <i class="ri-temp-hot-fill"></i> HIPS
                            </h2>

                            <img
                                class="my-3"
                                src="/assets/images/hips.png"
                                width="100%"
                                alt="HIPS"
                            />
                            <h4 class="my-3">
                                Hot-spots Identification and Prioritization
                                Service
                            </h4>
                            <p class="lead">
                                With HIPS, stakeholders can set-up customized
                                hot-spot analysis by combining different future
                                climate projections with other indicators,
                                leveraging a comprehensive indicators and
                                metrics framework. Therefore, decision making
                                and strategies about specific adaptation
                                measures at a region are supported. HIPS is
                                under active development within the EU funded
                                IMPETUS research project
                                (www.climate-impetus.eu) and it will continue to
                                be updated with more datasets and features as
                                the project matures.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0" role="button">
            <a href="https://dt.uwmh.eu/" target="_blank">
                <div
                    class="card text-white bg-success overflow-hidden flex-grow-1 mb-0 h-100"
                >
                    <div class="card-body">
                        <div class="toll-free-box text-center">
                            <h2 class="text-reset">
                                <i class="mdi mdi-motion-sensor"></i>
                                Digital Twins
                            </h2>

                            <img
                                class="my-3"
                                src="/assets/images/dt.png"
                                width="100%"
                                alt="HIPS"
                            />
                            <h4 class="my-3">
                                Digital Twins of Greece's Attica Region physical
                                entities
                            </h4>
                            <p class="lead">
                                A Regional Digital Twin (DT) for climate
                                adaptation and green business development is
                                been implemented in the Attica region in Greece,
                                in the framework of the IMPETUS project. This
                                platform is built on real time data of
                                initiatives and solutions implemented and tested
                                in Attica to create a central hub for knowledge
                                and experience to be turned into action in a
                                co-creation process with the interested parties
                                and the policy makers.
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-12 col-lg-4 mt-4 mt-lg-0" role="button">
            <a href="https://rcrft-frontend.ddns.net/" target="_blank">
                <div
                    class="card text-white bg-info overflow-hidden flex-grow-1 mb-0 h-100"
                >
                    <div class="card-body">
                        <div class="toll-free-box text-center">
                            <h2 class="text-reset">
                                <i class="mdi mdi-graphql"></i> RCRFT
                            </h2>

                            <img
                                class="my-3"
                                src="/assets/images/rcrft.png"
                                width="100%"
                                alt="HIPS"
                            />
                            <h4 class="my-3">
                                Regional Climate Resilience Footprint Tool
                            </h4>
                            <p class="lead">
                                Lorem, ipsum dolor sit amet consectetur
                                adipisicing elit. Voluptates molestias illo
                                doloremque neque labore, expedita accusamus
                                ipsa! Consequuntur eligendi dolores, libero
                                eveniet saepe quaerat numquam ea architecto
                                fuga, rem ratione. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit. Quos impedit quis
                                debitis rerum provident nemo eum at
                                reprehenderit doloremque in. Error quae suscipit
                                atque provident temporibus commodi vel ipsum
                                delectus!
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="d-flex flex-grow-1"></div>

    <div
        class="border-top border-5 bg-light d-flex justify-content-between align-items-center gap-4 min-vw-100 p-4"
    >
        <img
            class="d-none d-lg-flex"
            src="/assets/images/impetus.png"
            alt="Impetus Logo"
            height="50px;"
        />
        <img
            class="d-none d-sm-flex"
            src="/assets/images/pyrforos.png"
            alt="NTUA Logo"
            height="50px;"
        />
        <img
            class="d-none d-lg-flex"
            src="/assets/images/uwmh_logo.png"
            alt="UWMH Logo"
            height="50px;"
        />
        <img
            class="d-none d-sm-flex"
            src="/assets/images/europe.png"
            alt="Europe Flag"
            height="50px;"
        />
        <div class="small fw-semibold">
            The IMPETUS project is funded by the European Union's Horizon 2020
            research and innovation programme under grant agreement No
            101037084.
        </div>
    </div>
</div>
